name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Setup Firebase CLI
        run: npm install -g firebase-tools
      - name: Deploy to Firebase Hosting
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_KALAMAR_CENTRAL }}
        run: |
          echo "$FIREBASE_SERVICE_ACCOUNT" > $HOME/gcloud-key.json
          export GOOGLE_APPLICATION_CREDENTIALS="$HOME/gcloud-key.json"
          firebase deploy --only hosting --project kalamar-central --non-interactive
